{
	"plugins": [
		[
			"module-resolver",
			{
				"alias": {
					"@Api": "./src/api",
					"@Components": "./src/components",
					"@Images": "./src/images",
					"@Samples": "./src/samples",
					"@Storybook": "./.storybook",
					"@Types": "./src/types",
					"@Utils": "./src/utils"
				},
				"root": ["./"]
			}
		],
		"graphql-tag",
		"inline-react-svg"
	],
	"presets": ["next/babel"]
}
