# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies directory
/node_modules

# Coverage directory used by tests
/coverage

# Production
/build

# Package manager
yarn.lock
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
