@import "../../../base.scss";

.Page {
	display: flex;
	flex-direction: column;

	height: 100vh;
}

.Page-header {
	position: fixed;
	top: $xSmallSpace;
	left: $xSmallSpace;

	z-index: 999;

	height: $xxxxLargeSpace;
}
